
h1 {
    text-align: center;
}

body {
  background-color: lightblue;
}

#paragraph2 {
  width: 50vw;
  border: 5px solid green;
  padding: 30px;
  margin: 20px;
  background-color: white;
  line-height:20px;
}

.blue {
    background-color: rgb(17, 17, 88);
    color: white;
    padding: 1%;
}

a {
  color: blue;
}

table, th, td{
  border: 1px solid black;
  background-color: white;
  border-collapse: collapse;

}

th {
  background-color: rgb(192, 192, 192);
}

td {
  padding: 10px;
}

#w3link {
  color: brown;
  text-decoration: underline;
}